<mat-toolbar color="#9999ff">
  <span><img src="/assets/images/logo.png" height=30 width=41></span>
  <a mat-button routerLink="/accommodationsList"><span class="fa fa-home fa-lg"></span> Accueil</a>
  <a mat-button routerLink="/about"><span class="fa fa-info fa-lg"></span> À propos</a>
  <a mat-button routerLink="/contact"><span class="fa fa-address-card fa-lg"></span> Contact</a>
</mat-toolbar>
  
  <div class="container jumbotron"
      fxLayout="row"
      fxLayout.sm="column" 
      fxLayout.xs="column" 
      fxLayoutAlign.xs="start center"
      fxLayoutAlign.sm="start center" 
      fxLayoutAlign.gt-sm="center center" 
      fxLayoutGap="10px">
  
    <div fxFlex fxFlex.gt-sm="50%">
      <h1>RentMeHome</h1>
      <p>Louer ou bien trouver une colocation en ligne en toute simplicité</p>
    </div>
    <div fxFlex fxFlex.gt-sm="20%">
      <img src="/assets/images/logo.png" alt="Logo">
    </div>
    <div fxFlex></div>
  </div>