<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  

  <div fxFlex *ngIf="accommodations"  [@expand]>
    <mat-grid-list cols="3" rowHeight="200px">
      <mat-grid-tile *ngFor="let accommodation of accommodations"  appHighlight (click) = "onSelect(accommodation)">
        <img height="300px"   src= "{{ BaseURL + accommodation.images[0]}}" alt={{accommodation.description}}>
        <mat-grid-tile-footer>
          <h1>{{ accommodation.title}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div [hidden]="accommodations || errMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>

  
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

  <app-accommodation-details [accommodation]="selectedAccommodation"></app-accommodation-details>

</div>
