  <div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0"
    *ngIf="accommodation" 
    >

  <div fxFlex="40" >
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{accommodation.title | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseURL+accommodation.images[0]}}" alt={{accommodation.title}}>
      <mat-card-content>
        <p>{{accommodation.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <button mat-button (click)="goBack()">BACK</button>
      </mat-card-actions>
    </mat-card>
    
  </div>

  <div fxFlex="40">
    <mat-list>
     
      <h3>Comments</h3>
      <mat-list-item *ngFor="let com of accommodation.comments">
          <h4 matLine>{{com.comment}}</h4>
          <h4 matLine>{{com.rating}} stars</h4>
          <h4 matLine>{{com.author}} {{com.date}}</h4>  
      </mat-list-item>
    </mat-list>
        
    </div>

</div>
